body{
  background-color: #eecee5;
  font-family: 'Edu NSW ACT Foundation', cursive;
  font-weight: bolder;
}


h1 {
  color: #46617c;
  
}
.container{
  background-color: #e8f1f3;
  border:1px black solid;
  margin:auto;
  max-width:650px;
 }   
 .card{
  text-align: center;
 }
 
 img{
  margin: auto;
 }
 button{
  margin-right:10px;
  border-radius: 10%;
  color:#fff;
  background-color: #46617c;
 }
 button:hover{
  color:#000;
  background-color: #e0a1cf;
 }